# Yarn Berry Plug'n'Play
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache/
!.pnp.*

# Settings
.sonarlint/
.vscode/
.editorconfig
.env
.eslint*
.git*
.nvmrc

# Build result files
coverage/
outputs/
!outputs/basic/
!outputs/basic/will.be.auto-created.by.cucumber

# Others
*.md
